{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    
    <form action="{% url 'edit_page' title%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="text-title" type="text" class="form-control {{ invalidTitle }}" placeholder="Title" autocomplete="off" autofocus value="{{ title }}" required>

            {% if no_title %}
                <li>Please fill in the title</li>
            {% endif %}
            
            <textarea name="text-content" id="content" cols="5" rows="5" class="form-control {{ invalidContentl }}" placeholder="Content" autocomplete="off" required>{{ content }}</textarea>

            {% if no_content %}
                <li>Please fill in the content</li>
            {% endif %}

            <button class="btn btn-primary float-right">Save</button>
        </div>
    </form>
    
    
{% endblock %}