{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    
    <form action="{% url 'new_page' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="text-title" type="text" class="form-control {{ invalid }}" placeholder="Title" autocomplete="off" autofocus required value="{{ title }}">

            {% if no_title %}
                <li>Please fill in the title</li>
            {% endif %}
            
            {% if title_exists %}
                <li>Error. The page with this title already exists!</li>
            {% endif %}

            <textarea name="text-content" id="content" cols="5" rows="5" class="form-control" required placeholder="Content" autocomplete="off">{{ content }}</textarea>

            {% if no_content %}
                <li>Please fill in the content</li>
            {% endif %}

            <button class="btn btn-primary float-right">Save</button>
        </div>
    </form>
    
    
{% endblock %}